@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
* {
  font-family: "Lato", sans-serif !important;
  overflow-x: hidden;
}

@keyframes flash {
  0% {
    background-color: #cfcfcf; /* White */
    
  }
  50% {
    background-color: #ff0000; /* Red */
  }
  100% {
    background-color: #0000ff; /* Blue */
  }
}

.flashing {
  animation: flash 2s infinite;
  border-radius: 16px;
}

.meme-text {
  font-family: "Finger Paint", sans-serif !important;
}